
 .left{
    float: left;
    width: 30%;
}

.right{
    float: right;
    width: 70%;
}

.ant-row{
    margin-bottom: 2%;
}

.contentPage .ant-card.ant-card-bordered.ant-card-wider-padding{
    margin-bottom: 3%;
}

.cardRegister button.ant-btn.buttonRegister.ant-btn-primary {
    position: relative;
    left: 50%;
    margin-left: -10%;
}

.inputP input#phone {
    width: 43%;
}

.spn{
margin-left: -12%;
}